*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --primary-hue: 210;
    --gray-hue: 240;
    --color-primary: hsl(var(--primary-hue), 100%, 50%);
    --color-primary-variant: hsl(var(--primary-hue), 100% 65%);
    --color-secondary: #ffb116;
    --color-gray-100: hsl(var(--gray-hue), 47%, 94%);
    --color-gray-200: hsl(var(--gray-hue), 26%, 75%);
    --color-gray-300: hsl(var(--gray-hue), 24%, 64%);
    --color-gray-400: hsl(var(--gray-hue), 16%, 41%);
    --color-gray-500: hsl(var(--gray-hue), 44%, 25%);
    --color-gray-600: hsl(var(--gray-hue), 48%, 15%);

    --container-width-lg: 80%;
    --container-width-md: 90%;

    --transition: all 500ms ease
}

/* GENERAL STYLES */
body {
    font-family: "Montserrat", sans-serif;
    color: var(--color-gray-200);
    line-height: 1.7;
    overflow-x: 1.7;
    background: white;
}

.container {
    width: var(--container-width-lg);
    max-width: 1920px;
    margin-inline: auto;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
    color: var(--color-gray-100);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

a {
    color: var(--color-gray-100)
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}


.btn {
    color: var(--color-gray-100);
    width: fit-content;
    margin: 0 auto;
    padding: 0.9rem 2rem;
    background: var(--color-primary);
    border-radius: 1.5rem;
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-secondary);
    color: var(--color-gray-600);
}

.btn.lg {
    padding: 1.2rem 3rem;
    border-radius: 2rem;
    font-size: 1.1rem;
}

.btn.sm {
    padding: 0.4rem 1.2rem;
    font-size: 0.9rem;
}

.btn.sm:hover {
    background: var(--color-gray-100);
}



section {
    margin-top: 10rem;
}

.section__head {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section__head span {
    background: var(--color-gray-500);
    padding: 0.8rem;
    border-radius: 1rem;
    color: var(--color-secondary);
    font-size: 1.5rem;
}

.card {
    background: var(--color-gray-500);
    border: 2px solid transparent;
    text-align: center;
    padding: 3rem 2rem;
    padding: 3rem 2rem;
    border-radius: 0 3rem 0 3rem;
    transition: var(--transition);
}

.card:hover {
    background: transparent;
    border-color: var(--color-gray-400);
    cursor: default;
}

.card span {
    width: 3rem;
    height: 3rem;
    background: var(--color-primary);
    color: var(--color-gray-100);
    font-size: 1.5rem;
    padding: 0.8rem;
    display: grid;
    place-items: center;
    margin-bottom: 1.5rem;
    margin-inline: auto;
    border-radius: 1rem;
    transition: var(--transition);
}

.card span:hover span {
    background: var(--color-secondary);
    color: var(--color-gray-600);
}

.card small {
    margin-top: 1rem;
    display: block;
    font-weight: 300;
}

.header {
    margin-top: 5rem;
    height: 20rem;
    overflow: hidden;
    border-bottom: 2px solid var(--color-gray-400);
}

.header__container {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    place-items: center;
    background: black;
}

.header__container-bg {
    position: absolute;
    width: 100%;
}

.header__container-bg img {
    opacity: 0.5;
}

.header__content {
    position: relative;
    width: 44%;
    margin: 0 auto;
    text-align: center;
    color: var(--color-gray-100);
}

.header__content h2 {
    margin-bottom: 1rem;
}

.header__content p {
    color: rgba(255, 255, 255, 0.7);
}


/* MEDIA QUERIES (Medium Screens) */

@media screen and (max-width:1024px) {
    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    .header__content {
        width: 76%;
    }
}










/* MEDIA QUERIES (Small Screens) */

@media screen and (max-width:600px) {
    h1 {
        font-size: 2.2rem;
        line-height: 1.3;
    }

    .header {
        height: fit-content;
    }

    section {
        margin-top: 7rem;
    }

    .header__content {
        width: var(--container-width-md);
        padding: 3rem 0;
    }

    .header__content p {
        font-size: 0.85rem;
    }


}

.main__header {
    width: 100vw;
    height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
    margin-top: 3rem;
}

.main__header-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}

.main__header-left {
    margin-top: -3rem;
}

.main__header-left h4 {
    margin-bottom: 1rem;
    color: var(--color-primary);
    font-weight: 400;
}

.main__header-left p {
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
}

.main__header-right {
    display: grid;
    place-items: center;
    position: relative;
}

.main__header-circle {
    width: 25rem;
    height: 25rem;
    background: linear-gradient(75deg, var(--color-primary), transparent);
    border-radius: 50%;
    position: absolute;
    /* filter: blur(12px); */
    transition: var(--transition);
}

.main__header-image {
    position: relative;
}

.main__header-right:hover .main__header-circle {
    filter: blur(15px);
}

/* PROGRAMS */

.programs {
    margin-top: 4rem;
}

.programs__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 4rem;
}

.programs__program a {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.programs__program:hover a {
    background: var(--color-secondary);
    color: var(--color-gray-600);
}


/* VALUES */

.values__container {
    display:grid;
    grid-template-columns: 38% 50%;
    gap: 12%
}

.values__image {
    filter: saturate(0.25);
    transition: var(--transition);
}

.values__image:hover {
    filter: saturate(1);
}

.values__right > p {
    margin: 1.5rem 0 5rem;

}

.values__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.4rem 2.4rem;
}

.card.values__value {
    padding-top: 3.5rem;
    text-align: left;
    position: relative;
}

.card.values__value span {
    position: absolute;
    top: -1.5rem;
}

/* FAQs */
.faqs__wrapper {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 5rem;
    /* align-items: flex-start; */
}

.faq {
    background: var(--color-gray-500);
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.faq div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__icon {
    background: transparent;
    color: var(--color-gray-100);
    font-size: 1.5rem;
}

.faq p {
    margin-top: 1.5rem;
}

/* TESTIMONIALS */
.testimonials {
    width: 50rem;
    margin-inline: auto;
    
}

.testimonials__head {
    justify-content:center;
}

.card.testimonial {
    position: relative;
    text-align: left;
    margin-top: 5rem;
}

.testimonial__avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
    border:2px solid transparent ;
    overflow: hidden;
    position: absolute;
    top: -2rem;
    left: calc(50% - 2rem);
    box-shadow: 0 1.5rem 2rem rgba(26, 26, 54, 0.4);
    transition: var(--transition);
}

.testimonial:hover .testimonial__avatar {
    border-radius: 50%;
    border-color: var(--color-gray-400);
}

.testimonials__quote {
    font-style: italic;
    margin: 1rem 0 2rem;
}

.card small.card.testimonials__title {
    margin-top: 0.3rem;
}

.testimonials__btn-container {
    width: fit-content;
    margin: 2rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.testimonials__btn {
    background: transparent;
    cursor: pointer;
}

.testimonials__btn svg {
    fill: var(--color-primary);
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
}

/* FOOTER */

footer {
    background: var(--color-gray-600);
    margin-top: 7rem;
    padding-top:7rem;
    font-size: 0.9rem;
    color:var(--color-gray-100);
}


.footer__container {
    display: grid;
    grid-template-columns: 26rem 1fr 1fr 1fr;
    gap: 6rem;
}

.footer__container article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
}

.footer__container article p {
    margin-top: 0.5rem;
}

.footer__container article h4 {
    margin-bottom: 0.6rem;
    font-size: 1rem;
}

.footer__socials {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer__socials a {
    background: var(--color-gray-100);
    padding: 0.7rem;
    border: 1px solid transparent;
    border-radius: 0.6rem;
    transition: var(--transition);
}

.footer__socials a svg {
    color: var(--color-gray-600);
}
.footer__socials a svg:hover {
    color: var(--color-primart-variant);
}

.footer__socials a:hover {
    border-color: var(--color-primart-variant);
    background: transparent;
}

.footer__copyright {
    color: var(--color-gray-100);
    text-align: center;
    padding:1.5rem 0;
    border-top: 2px solid var(--color-primart-variant);
    margin-top: 5rem;
}



/* MEDIA QUERIES (Medium Screens) */

@media screen and (max-width:1024px) {
    .main__header {
        height: fit-content;
        padding: 12rem 0;
    }

    .main__header-container {
        gap: 0;
    }

    .main__header-circle {
        width: 16rem;
        height: 16rem;
    }

    .programs__wrapper {
        grid-template-columns:1fr 1fr;
    }


    .values__container {
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 4rem;
    }

    .values__wrapper {
        gap: 4rem 3rem;
    }

    .values__image {
        display: none;
    }

    .faqs__wrapper {
        grid-template-columns: 1fr;
    }

    .testimonials {
        width: 75%;
    }

    .footer__container {
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
}

/* MEDIA QUERIES (small Screens) */
@media screen and (max-width:600px) {
    .main__header {
        margin-top: 0;
        padding: 12rem 0 0;
        height: 100vh;
    }

    .main__header-image, .main__header-circle {
        display: none;
    }

    .main__header-container {
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 3rem;
    }

    .programs__wrapper {
        grid-template-columns: 1fr;
        width: 84%;
        margin: 0 auto;
    }

    .values__wrapper {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .card.values__value {
        width: 84%;
        margin-inline: auto;
    }

    .faqs__wrapper {
        gap: 1rem;
        margin-top: 3rem;
    }

    .testimonials {
        width: 100%;
    }

    footer {
        margin-top: 7rem;
    }

    .footer__container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .footer__container article {
        align-items: center;

    }

    .footer__container article p {
        text-align: center;
        
    }
}
